<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>SteamProject</display-name>
  <welcome-file-list>
    <welcome-file>public-jsp/HomePagePrincipale.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HomePageServlet</display-name>
    <servlet-name>HomePageServlet</servlet-name>
    <servlet-class>org.elis.controller.HomePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePageServlet</servlet-name>
    <url-pattern>/HomePageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControlloSessioniServlet</display-name>
    <servlet-name>ControlloSessioniServlet</servlet-name>
    <servlet-class>org.elis.controller.ControlloSessioniServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlloSessioniServlet</servlet-name>
    <url-pattern>/ControlloSessioniServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GiocoAggiungiServlet</display-name>
    <servlet-name>GiocoAggiungiServlet</servlet-name>
    <servlet-class>org.elis.controller.GiocoAggiungiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GiocoAggiungiServlet</servlet-name>
    <url-pattern>/GiocoAggiungiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateGiocoServlet</display-name>
    <servlet-name>UpdateGiocoServlet</servlet-name>
    <servlet-class>org.elis.controller.UpdateGiocoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateGiocoServlet</servlet-name>
    <url-pattern>/UpdateGiocoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GiocoAggiornaServlet</display-name>
    <servlet-name>GiocoAggiornaServlet</servlet-name>
    <servlet-class>org.elis.controller.GiocoAggiornaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GiocoAggiornaServlet</servlet-name>
    <url-pattern>/GiocoAggiornaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GiocoEliminaServlet</display-name>
    <servlet-name>GiocoEliminaServlet</servlet-name>
    <servlet-class>org.elis.controller.GiocoEliminaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GiocoEliminaServlet</servlet-name>
    <url-pattern>/GiocoEliminaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogicaLoginServlet</display-name>
    <servlet-name>LogicaLoginServlet</servlet-name>
    <servlet-class>org.elis.controller.LogicaLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogicaLoginServlet</servlet-name>
    <url-pattern>/LogicaLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GiocoCercaServlet</display-name>
    <servlet-name>GiocoCercaServlet</servlet-name>
    <servlet-class>org.elis.controller.GiocoCercaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GiocoCercaServlet</servlet-name>
    <url-pattern>/GiocoCercaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UtenteAggiornaUsernameServlet</display-name>
    <servlet-name>UtenteAggiornaUsernameServlet</servlet-name>
    <servlet-class>org.elis.controller.UtenteAggiornaUsernameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UtenteAggiornaUsernameServlet</servlet-name>
    <url-pattern>/UtenteAggiornaUsernameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UtenteAggiornaEmailServlet</display-name>
    <servlet-name>UtenteAggiornaEmailServlet</servlet-name>
    <servlet-class>org.elis.controller.UtenteAggiornaEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UtenteAggiornaEmailServlet</servlet-name>
    <url-pattern>/UtenteAggiornaEmailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GiocoGenereRicercaServlet</display-name>
    <servlet-name>GiocoGenereRicercaServlet</servlet-name>
    <servlet-class>org.elis.controller.GiocoGenereRicercaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GiocoGenereRicercaServlet</servlet-name>
    <url-pattern>/GiocoGenereRicercaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GiocoOffertaServlet</display-name>
    <servlet-name>GiocoOffertaServlet</servlet-name>
    <servlet-class>org.elis.controller.GiocoOffertaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GiocoOffertaServlet</servlet-name>
    <url-pattern>/GiocoOffertaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogicaRegistrazioneServlet</display-name>
    <servlet-name>LogicaRegistrazioneServlet</servlet-name>
    <servlet-class>org.elis.controller.LogicaRegistrazioneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogicaRegistrazioneServlet</servlet-name>
    <url-pattern>/LogicaRegistrazioneServlet</url-pattern>
  </servlet-mapping>
</web-app>