<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>SteamProject</display-name>
  <welcome-file-list>
    <welcome-file>public-jsp/HomePagePrincipale.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HomePageServlet</display-name>
    <servlet-name>HomePageServlet</servlet-name>
    <servlet-class>org.elis.controller.HomePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePageServlet</servlet-name>
    <url-pattern>/HomePageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControlloSessioniServlet</display-name>
    <servlet-name>ControlloSessioniServlet</servlet-name>
    <servlet-class>org.elis.controller.ControlloSessioniServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlloSessioniServlet</servlet-name>
    <url-pattern>/ControlloSessioniServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GiocoAggiungiServlet</display-name>
    <servlet-name>GiocoAggiungiServlet</servlet-name>
    <servlet-class>org.elis.controller.GiocoAggiungiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GiocoAggiungiServlet</servlet-name>
    <url-pattern>/GiocoAggiungiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateGiocoServlet</display-name>
    <servlet-name>UpdateGiocoServlet</servlet-name>
    <servlet-class>org.elis.controller.UpdateGiocoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateGiocoServlet</servlet-name>
    <url-pattern>/UpdateGiocoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GiocoAggiornaServlet</display-name>
    <servlet-name>GiocoAggiornaServlet</servlet-name>
    <servlet-class>org.elis.controller.GiocoAggiornaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GiocoAggiornaServlet</servlet-name>
    <url-pattern>/GiocoAggiornaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogicaRegistrazioneServlet</servlet-name>
    <servlet-class>org.elis.controller.LogicaRegistrazioneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogicaRegistrazioneServlet</servlet-name>
    <url-pattern>/LogicaRegistrazioneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GiocoEliminaServlet</display-name>
    <servlet-name>GiocoEliminaServlet</servlet-name>
    <servlet-class>org.elis.controller.GiocoEliminaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GiocoEliminaServlet</servlet-name>
    <url-pattern>/GiocoEliminaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogicaLoginServlet</display-name>
    <servlet-name>LogicaLoginServlet</servlet-name>
    <servlet-class>org.elis.controller.LogicaLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogicaLoginServlet</servlet-name>
    <url-pattern>/LogicaLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GiocoCercaServlet</display-name>
    <servlet-name>GiocoCercaServlet</servlet-name>
    <servlet-class>org.elis.controller.GiocoCercaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GiocoCercaServlet</servlet-name>
    <url-pattern>/GiocoCercaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UtenteAggiornaUsernameServlet</display-name>
    <servlet-name>UtenteAggiornaUsernameServlet</servlet-name>
    <servlet-class>org.elis.controller.UtenteAggiornaUsernameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UtenteAggiornaUsernameServlet</servlet-name>
    <url-pattern>/UtenteAggiornaUsernameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UtenteAggiornaEmailServlet</display-name>
    <servlet-name>UtenteAggiornaEmailServlet</servlet-name>
    <servlet-class>org.elis.controller.UtenteAggiornaEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UtenteAggiornaEmailServlet</servlet-name>
    <url-pattern>/UtenteAggiornaEmailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GiocoGenereRicercaServlet</display-name>
    <servlet-name>GiocoGenereRicercaServlet</servlet-name>
    <servlet-class>org.elis.controller.GiocoGenereRicercaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GiocoGenereRicercaServlet</servlet-name>
    <url-pattern>/GiocoGenereRicercaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GiocoOffertaServlet</display-name>
    <servlet-name>GiocoOffertaServlet</servlet-name>
    <servlet-class>org.elis.controller.GiocoOffertaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GiocoOffertaServlet</servlet-name>
    <url-pattern>/GiocoOffertaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UtenteEliminaServlet</display-name>
    <servlet-name>UtenteEliminaServlet</servlet-name>
    <servlet-class>org.elis.controller.UtenteEliminaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UtenteEliminaServlet</servlet-name>
    <url-pattern>/UtenteEliminaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEliminaServlet</display-name>
    <servlet-name>AdminEliminaServlet</servlet-name>
    <servlet-class>org.elis.controller.AdminEliminaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEliminaServlet</servlet-name>
    <url-pattern>/AdminEliminaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>org.elis.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UtenteRipristinaPasswordServlet</display-name>
    <servlet-name>UtenteRipristinaPasswordServlet</servlet-name>
    <servlet-class>org.elis.controller.UtenteRipristinaPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UtenteRipristinaPasswordServlet</servlet-name>
    <url-pattern>/UtenteRipristinaPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UtenteFindByNameServlet</display-name>
    <servlet-name>UtenteFindByNameServlet</servlet-name>
    <servlet-class>org.elis.controller.UtenteFindByNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UtenteFindByNameServlet</servlet-name>
    <url-pattern>/UtenteFindByNameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LibreriaAggiungiServlet</display-name>
    <servlet-name>LibreriaAggiungiServlet</servlet-name>
    <servlet-class>org.elis.controller.LibreriaAggiungiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibreriaAggiungiServlet</servlet-name>
    <url-pattern>/LibreriaAggiungiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LibreriaAggiornaNomeServlet</display-name>
    <servlet-name>LibreriaAggiornaNomeServlet</servlet-name>
    <servlet-class>org.elis.controller.LibreriaAggiornaNomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibreriaAggiornaNomeServlet</servlet-name>
    <url-pattern>/LibreriaAggiornaNomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LibreriaListaCompletaServlet</display-name>
    <servlet-name>LibreriaListaCompletaServlet</servlet-name>
    <servlet-class>org.elis.controller.LibreriaListaCompletaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibreriaListaCompletaServlet</servlet-name>
    <url-pattern>/LibreriaListaCompletaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LibreriaFindByIdUtenteServlet</display-name>
    <servlet-name>LibreriaFindByIdUtenteServlet</servlet-name>
    <servlet-class>org.elis.controller.LibreriaFindByIdUtenteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibreriaFindByIdUtenteServlet</servlet-name>
    <url-pattern>/LibreriaFindByIdUtenteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LibreriaEliminaServlet</display-name>
    <servlet-name>LibreriaEliminaServlet</servlet-name>
    <servlet-class>org.elis.controller.LibreriaEliminaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibreriaEliminaServlet</servlet-name>
    <url-pattern>/LibreriaEliminaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LibreriaFindByNameServlet</display-name>
    <servlet-name>LibreriaFindByNameServlet</servlet-name>
    <servlet-class>org.elis.controller.LibreriaFindByNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibreriaFindByNameServlet</servlet-name>
    <url-pattern>/LibreriaFindByNameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UtenteFindByIDServlet</display-name>
    <servlet-name>UtenteFindByIDServlet</servlet-name>
    <servlet-class>org.elis.controller.UtenteFindByIDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UtenteFindByIDServlet</servlet-name>
    <url-pattern>/UtenteFindByIDServlet</url-pattern>
  </servlet-mapping>
</web-app>