<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>SteamProject</display-name>
  <welcome-file-list>
    <welcome-file>public-jsp/HomePagePrincipale.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HomePageServlet</display-name>
    <servlet-name>HomePageServlet</servlet-name>
    <servlet-class>org.elis.controller.HomePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePageServlet</servlet-name>
    <url-pattern>/HomePageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControlloSessioniServlet</display-name>
    <servlet-name>ControlloSessioniServlet</servlet-name>
    <servlet-class>org.elis.controller.ControlloSessioniServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlloSessioniServlet</servlet-name>
    <url-pattern>/ControlloSessioniServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addGiocoServlet</display-name>
    <servlet-name>addGiocoServlet</servlet-name>
    <servlet-class>org.elis.controller.addGiocoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addGiocoServlet</servlet-name>
    <url-pattern>/addGiocoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateGiocoServlet</display-name>
    <servlet-name>UpdateGiocoServlet</servlet-name>
    <servlet-class>org.elis.controller.UpdateGiocoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateGiocoServlet</servlet-name>
    <url-pattern>/UpdateGiocoServlet</url-pattern>
  </servlet-mapping>
</web-app>