/* style.css */

.hidden {
    display: none;
}

.active {
    display: block; /* Assicurati che la sezione attiva venga visualizzata */
}



/* Stile generale del corpo */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #1b2838; /* Colore di sfondo chiaro */
    margin: 0;
    padding: 0;
}

/* Contenitore principale */
.container {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #1b2838; /* Sfondo bianco per il contenitore */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombra per un effetto di profondità */
}

/* Intestazione */
header {
    background-color: #1b2838; /* Colore blu per l'intestazione */
    color: #ffffff; /* Testo bianco */
    padding: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/* Logo */
.logo {
    display: inline-block;
    vertical-align: middle;
}

/* Contenitore principale per le informazioni dell'utente */
.user-info {
    display: flex; /* Dispone l'immagine e il testo in linea orizzontale */
    align-items: center; /* Allinea verticalmente l'immagine e il testo */
    background-color: #2c3e50; /* Sfondo scuro */
    padding: 10px; /* Spaziatura interna */
    border-radius: 8px; /* Angoli arrotondati */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombra per dare profondità */
    color: #ecf0f1; /* Colore del testo */
    margin-bottom: 20px; /* Spaziatura inferiore */
}

/* Immagine del profilo utente */
#imgUtente {
    width: 50px; /* Larghezza fissa dell'immagine */
    height: 50px; /* Altezza fissa dell'immagine */
    border-radius: 50%; /* Rende l'immagine circolare */
    object-fit: cover; /* Mantiene il rapporto dell'immagine */
    margin-right: 15px; /* Spaziatura tra l'immagine e il testo */
    border: 2px solid #fff; /* Bordo bianco intorno all'immagine */
}

/* Stile per il testo utente */
#user p {
    margin: 0; /* Rimuove il margine predefinito */
    font-size: 18px; /* Dimensione del testo */
    color: #ecf0f1; /* Colore del testo */
    font-weight: bold; /* Testo in grassetto */
}

/* Messaggio per utente non loggato */
.user-info p {
    font-size: 16px; /* Dimensione leggermente più piccola per il messaggio */
    color: #e74c3c; /* Colore rosso per il messaggio di errore */
    margin: 0; /* Rimuove il margine predefinito */
}


/* Titolo */
h1 {
    display: inline-block;
    margin: 0;
    font-size: 24px;
    vertical-align: middle;
}

/* Navigazione */
/* Stile per il menu di navigazione */
nav {
    background-color: #1b2838; /* Sfondo scuro per la barra di navigazione */
    padding: 15px; /* Spaziatura intorno agli elementi di navigazione */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Ombra per dare profondità */
    border-radius: 8px; /* Angoli arrotondati per il contenitore */
}

nav ul {
    list-style-type: none; /* Rimuove i puntini dall'elenco */
    margin: 0; /* Rimuove i margini esterni */
    padding: 0; /* Rimuove il padding predefinito */
    display: flex; /* Dispone gli elementi orizzontalmente */
    justify-content: space-around; /* Distribuisce gli elementi in modo uniforme */
    align-items: center; /* Allinea verticalmente gli elementi */
}

nav ul li {
    margin: 0 15px; /* Spaziatura tra gli elementi di navigazione */
}

nav ul li a {
    color: #ffffff; /* Colore bianco per il testo dei link */
    text-decoration: none; /* Rimuove la sottolineatura */
    padding: 10px 15px; /* Spaziatura interna per i link */
    border-radius: 5px; /* Angoli leggermente arrotondati */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transizione per un effetto hover fluido */
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Colore di sfondo traslucido al passaggio del mouse */
    color: #00b300; /* Cambia il colore del testo a verde al passaggio del mouse */
}

nav ul li a:active {
    background-color: #00b300; /* Colore di sfondo verde per il link attivo */
    color: #ffffff; /* Colore bianco per il testo del link attivo */
}

/* Stile responsivo */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column; /* Dispone gli elementi verticalmente su schermi piccoli */
        align-items: flex-start; /* Allinea gli elementi a sinistra */
    }

    nav ul li {
        margin: 10px 0; /* Aumenta lo spazio tra gli elementi di navigazione su schermi piccoli */
    }
}


/* Sezioni */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    border: 1px solid #e0e0e0; /* Bordo leggero */
    border-radius: 4px;
    padding: 15px;
    background-color: #fafafa; /* Sfondo delle sezioni */
}

/* Statistiche */
.stats {
    display: flex;
    justify-content: space-between;
}

.stat {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    background-color: #ffffff; /* Sfondo bianco per le statistiche */
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #1b2838; /* Stessa colorazione dell'intestazione */
    color: #ffffff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}


.button {
    display: inline-block;
    padding: 10px 15px; /* Spaziatura interna */
    border: none; /* Nessun bordo */
    border-radius: 5px; /* Angoli arrotondati */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
    font-size: 16px; /* Dimensione del testo */
    text-align: center; /* Centra il testo */
    text-decoration: none; /* Rimuove la sottolineatura */
    transition: background-color 0.3s, color 0.3s; /* Transizioni per effetto hover */
    background-color: #4CAF50; /* Verde per il pulsante primario */
    color: white; /* Testo bianco */
}



.button:hover {
    background-color: #45a049; /* Colore più scuro al passaggio del mouse */
}



#prodotti {
    padding: 20px;
    background-color: #1b2838; /* Sfondo della sezione */
    color: #ffffff; /* Testo bianco */
}

#prodotti h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#prodotti p {
    margin-bottom: 20px;
}

#products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.single-product {
	
	align-content: center;
	justify-content: center;
	align-items: center;
    background-color: #3c3c3c; /* Sfondo della card */
    border-radius: 8px; /* Angoli arrotondati */
    margin: 10px;
    padding: 15px;
    width: calc(25% - 20px); /* Larghezza della card */
    transition: transform 0.2s; /* Effetto hover */
    position: relative; /* Per gestire la posizione delle etichette di sconto */
}

.product__image {
    max-width: 100%; /* La larghezza massima dell'immagine è limitata */
    max-height: 100%; /* L'altezza massima dell'immagine è limitata */
    object-fit: cover; /* L'immagine copre l'area mantenendo le proporzioni */
    border-radius: 5px; /* Angoli arrotondati */
}




.single-product:hover {
    transform: scale(1.05); /* Zoom sulla card al passaggio del mouse */
}

.part-1 {
    position: relative; /* Necessario per posizionare correttamente lo sconto */
}

.discount {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff1e1e; /* Colore di sfondo dello sconto */
    color: #ffffff; /* Colore del testo dello sconto */
    padding: 5px 10px;
    border-radius: 5px; /* Angoli arrotondati per il badge di sconto */
    font-weight: bold;
}

.product__image {
	
    width: 200px; /* Larghezza fissa per l'immagine */
    height: 300px; /* Altezza fissa per l'immagine */
    object-fit: cover; /* Per mantenere le proporzioni e coprire l'area */
    border-radius: 5px; /* Angoli arrotondati per l'immagine */
}


.part-2 {
    margin-top: 15px;
}

.product-title {
    font-size: 18px;
    margin: 10px 0 5px;
    color: #ffffff; /* Colore del titolo */
}

.product-id{
	
	 font-size: 12px;
    margin: 10px 0 5px;
    color: #ffffff;
}

.product-price {
    font-size: 20px;
    color: #00b300; /* Colore verde per il prezzo */
}

.product-old-price {
    color: #b3b3b3; /* Colore grigio per il prezzo originale */
    font-size: 16px;
}

.edit-form-container {
    max-width: 600px; /* Larghezza massima del modulo */
    margin: 20px auto; /* Margine automatico per centrare il modulo */
    padding: 20px; /* Spaziatura interna */
    background-color: #2c2f33; /* Colore di sfondo del modulo */
    border-radius: 10px; /* Angoli arrotondati */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Ombra per un effetto sollevato */
    color: white; /* Colore del testo */
}

.btn-danger {
    background-color: #f44336; /* Rosso per il pulsante di eliminazione */
    color: white; /* Testo bianco */
}

.btn-danger:hover {
    background-color: #e53935; /* Colore più scuro al passaggio del mouse */
}


.edit-form-container label {
    display: block; /* Imposta le etichette come blocchi */
    margin-bottom: 5px; /* Margine inferiore per separare le etichette dai campi di input */
}

.edit-form-container input[type="text"],
.edit-form-container input[type="date"],
.edit-form-container input[type="number"] {
    width: 100%; /* Larghezza al 100% per i campi di input */
    padding: 10px; /* Spaziatura interna per i campi di input */
    margin-bottom: 15px; /* Margine inferiore per separare i campi */
    border: 1px solid #555; /* Bordo grigio */
    border-radius: 5px; /* Angoli arrotondati */
    background-color: #40444b; /* Colore di sfondo per i campi di input */
    color: white; /* Colore del testo */
}

.edit-form-container input[type="checkbox"] {
    margin-right: 5px; /* Spazio a destra per il checkbox */
}

.btn {
    display: inline-block; /* Imposta i pulsanti come blocchi in linea */
    padding: 10px 20px; /* Spaziatura interna per i pulsanti */
    border: none; /* Nessun bordo */
    border-radius: 5px; /* Angoli arrotondati */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
    font-size: 16px; /* Dimensione del testo */
    text-align: center; /* Centra il testo */
    transition: background-color 0.3s; /* Transizione per effetto hover */
}

.btn-success {
    background-color: #4CAF50; /* Verde per il pulsante di successo */
    color: white; /* Testo bianco */
}

.btn-success:hover {
    background-color: #45a049; /* Colore più scuro al passaggio del mouse */
}

.btn-secondary {
    background-color: #555; /* Grigio scuro per il pulsante secondario */
    color: white; /* Testo bianco */
}

.btn-secondary:hover {
    background-color: #333; /* Colore più scuro al passaggio del mouse */
}

