/* GiochiPublisherCss.css */

/* Sfondo generale */
body {
    background-color: #1b2838;
    color: #c7d5e0;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

h2{
	
	font-size: 26px;
}

/* Sezione prodotti */
.section-products {
    padding: 50px 0px;
    background-color: #171a21;
}

/* Header */
.header {
    margin-bottom: 50px;
    text-align: center;
}

.header h3 {
    font-size: 30px;
    color: #66c0f4;
    font-weight: 700;
}

/* Logo Steam */
#logo svg {
    max-width: 300px;
    margin: 10px auto;
}

/* Single product card */
.single-product {
	margin: 10px;
    background-color: #2a475e;
    border: 1px solid #66c0f4;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.single-product:hover {
    transform: scale(1.00);
}

/* Product image */
.single-product .part-1 {
    position: relative;
    height: 300px;
    background-color: #171a21;
    display: flex;
    align-items: center;
    justify-content: center;
}

.single-product .part-1 img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

/* Discount badge */
.discount {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ff4040;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
}


.single-product .part-1 ul {
    position: absolute;
    top: 10px;
    right: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.single-product .part-1 ul li {
    display: inline-block;
    margin: 0 5px;
}

.single-product .part-1 ul li a {
    color: #66c0f4;
    font-size: 24px;
}

.single-product .part-2 {
    padding: 10px;
    text-align: center;
}

/* Prodotto titlo */
.single-product .part-2 h3 {
    font-size: 19px;
    color: #c7d5e0;
    margin-bottom: 15px;
}

/* Prodotto prezzo */
.single-product .part-2 h4 {
    font-size: 20px;
    color: #66c0f4;
    font-weight: bold;
}

.product-old-price {
    font-size: 18px;
    color: #c7d5e0;
}

/* Bottone */
.btn-primary {
    background-color: #66c0f4;
    border-color: #66c0f4;
    color: #fff;
}

.btn-primary:hover {
    background-color: #5aa0d1;
    border-color: #5aa0d1;
}
