@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #171D25;
    color: #fff;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color:#171D25;
    padding: 1em 0;
    border-bottom: 2px solid #2c2c2c;
}

.logo {
    font-size: 1.5em;
    color: #66c0f4;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #66c0f4;
}

.hero {
    background-image: url('hero-background.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    text-align: center;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 1em;
}

.btn-primary {
    background-color: #66c0f4;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #558cbf;
}

.featured-games {
    padding: 50px 0;
    text-align: center;
}

.featured-games h2 {
    font-size: 2.5em;
    margin-bottom: 1em;
}



.game-card {
    margin-top: 30px;

    display: flex;
    flex-wrap: wrap; /* Permette di adattarsi alla larghezza */
    justify-content: space-around;
    align-items: center;
    gap: 12px; /* Spaziatura tra i prodotti */
    padding: 20px;
}


.game-card img {
    width: 375px; /* Riduce la dimensione dell'immagine per una griglia più densa */
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.game-card:hover{

    transform: scale(1.05); /* Effetto zoom immagini prodotti */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Aggiungi un'ombra più grande durante l'hover */
}


.game-card h3 {
    margin: 15px 0;
}

.btn-secondary {
    background-color: #4CAF50;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-secondary:hover {
    background-color: #45a049;
}

footer {
    background-color: #171717;
    padding: 20px 0;
    text-align: center;
    border-top: 2px solid #2c2c2c;
}

footer p {
    color: #666;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 24px;
    color: #C5C3C0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    transform: translateY(-50%);
}

.prev:hover, .next:hover {
    color: white;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}