@charset "UTF-8";
body {
    font-family: 'Arial', sans-serif;
    background-color: #1b2838;
    color: #c5c3c0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stile della navbar */
.navbar {
    display: flex;
    justify-content: space-between;/* Global Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1b2838;
  color: #c7d5e0;
}

h2 {
  color: #66c0f4;
}

a {
  text-decoration: none;
  color: #c7d5e0;
}

a:hover {
  color: #66c0f4;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #171a21;
  border-bottom: 1px solid #66c0f4;
}

.logo {
  flex-grow: 1;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu a {
  color: #c7d5e0;
  font-size: 1.1rem;
}

.menu a:hover {
  color: #66c0f4;
}

.search-container {
  flex-grow: 2;
}

.search-container input {
  padding: 10px;
  width: 250px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  background-color: #c7d5e0;
  color: #1b2838;
}

.search-container button {
  background-color: #66c0f4;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
}

.search-container button:hover {
  background-color: #4b89b7;
}

/* User Info */
.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-info #imgUtente {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-info #user {
  color: #66c0f4;
}

.errore {
  background-color: #f44336;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
}

/* Games Content */
.content {
  padding: 20px;
       display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
}

.games-container {
 display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
   
}

.game {
  background-color: #171a21;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease;
}

.game:hover {
  transform: scale(1.05);
}



.product-title {
  color: #c7d5e0;
  margin: 10px 0;
  font-size: 1.2rem;
}

.discount-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.product-discount {
  color: #e74c3c;
  font-size: 1.1rem;
}

.product-old-price {
  text-decoration: line-through;
  color: #a9a9a9;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  .search-container {
    margin-top: 10px;
    width: 100%;
  }

  .search-container input {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .games-container {
    grid-template-columns: 1fr;
  }

  .product-title {
    font-size: 1rem;
  }
}
    
    align-items: center;
    background-color: #171a21;
    padding: 15px 30px;
    position: sticky;
    border-bottom: 2px solid #66c0f4;
    top: 0;
    z-index: 100;
}

.user-info {
    display: flex; /* Dispone l'immagine e il testo in linea orizzontale */
    align-items: center; /* Allinea verticalmente l'immagine e il testo */
    background-color: #2c3e50; /* Sfondo scuro */
    padding: 10px; /* Spaziatura interna */
    border-radius: 8px; /* Angoli arrotondati */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombra per dare profondità */
    color: #ecf0f1; /* Colore del testo */
    margin-bottom: 20px; /* Spaziatura inferiore */
    
   
}

.user-info img{
	
	border: 2px solid #fff; /* Bordo bianco intorno all'immagine */
}

.menu a {
    color: #c5c3c0;
    text-decoration: none;
    margin-right: 30px;
    font-size: 19px;
}

.menu a:hover {
    color: #66c0f4;
}

.user-info {
    display: flex;
    align-items: center;
}

#imgUtente {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

#user p {
    margin: 0;
    font-size: 16px;
}

/* Contenuto principale */
.content {
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 1200px;
    margin: auto;
    background-color: #2a475e;
    border-radius: 8px;
}

.content h2 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
}

.search-container {
    display: flex; /* Utilizza il flexbox per allineare la barra di ricerca */
    align-items: center; /* Allinea verticalmente al centro */
    margin-left: auto; /* Sposta la barra di ricerca a destra */
    margin-right: 15px;
}
input[type="text"] {
    padding: 10px; /* Padding interno */
    border: 1px solid #ced4da; /* Bordo del campo */
    border-radius: 4px; /* Angoli arrotondati */
    margin-right: 5px; /* Margine a destra */
    width: 300px; /* Larghezza della barra di ricerca */
}

input[type="text"]:focus {
    outline: none; /* Rimuove il bordo di focus */
    box-shadow: 0 0 5px rgba(0, 150, 255, 0.5); /* Aggiunge un'ombra di focus */
}

/* Stile dei giochi */

.games-container {
     display: flex;
     flex-wrap: wrap;/* Permette alle card di andare su piu righe se lo spazio non è sufficiente */
    justify-content: center; /* Distribuisce meglio le card */
    gap: 15px; /* Spaziatura tra le card */
}
.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1b2838;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    text-align: center;
}

.game:hover {
    transform: scale(1.02);
}

.image-container {
    width: 100%; /* Larghezza del contenitore */
    height: auto; /* Altezza del contenitore */
    overflow: hidden; /* Nasconde parte dell'immagine che esce dal contenitore */
    align-items: center;
    align-content: center;
    
}

.product__image {
    width: 60%; /* Riempi tutta la larghezza del contenitore */
       align-items: center;
    align-content: center;
   
    border-radius: 10px;
}

.product-title {
    color: #c5c3c0;
    font-size: 18px;
    margin: 5px 0;
}

.product-price {
    color: #2ecc71; /* verde per prezzo normale */
     margin: 3px 0;
}



.discount {
    
    top: 10px;
    right: 10px;
    background-color:  #171a21; /* Colore di sfondo dello sconto */
    color: #ffffff; /* Colore del testo dello sconto */
    padding: 5px 10px;
    border-radius: 5px; /* Angoli arrotondati per il badge di sconto */
    font-weight: bold;
}

.product-discount {
    color: #e74c3c; /* Rosso per evidenziare lo sconto */
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
}

.product-old-price {
    color: #7f8c8d; /* Grigio chiaro per il prezzo barrato */
    text-decoration: line-through;
    font-size: 1em;
    margin: 5px 0 0;
}

.product-new-price {
    color: #2ecc71; /* Verde per il nuovo prezzo */
    font-size: 1.4em;
    font-weight: bold;
    margin: 0;
}



.product-id {
    color: #8f98a0;
    font-size: 12px;
     margin: 2px 0;
}

.product-desc{
	
	 color: #8f98a0;
    font-size: 14px;
     margin: 2px 0;
}

.btn {
    background-color: #66c0f4;
    color: #fff;
    display: inline;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    
}

.btn-addCart{
    background-color: green;
    color: white;
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-danger{
	
	background-color: #cc0000;
	display: inline;
}

.btn-rece{
	
	background-color: #7BD155;
	display: inline;
	font-weight: bold;
	   padding: 10px 26px;
	   display: inline;
	   margin-top: 5px;
	   margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-recensione{
	
		background-color: #F39C12;
	font-weight: bold;
	display: inline;
	   padding: 10px 20px;
	   display: inline;
	   margin-top: 5px;
	   margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
	
}

.btn-recensione:hover{
	
	background-color:#5ba9da;
}
.btn-rece:hover{
	
	background-color:#5ba9da; 
}
.btn:hover {
    background-color: #5ba9da;
}

/* Footer */
footer {
    background-color: #171a21;
    color: #c5c3c0;
    text-align: center;
    padding: 15px 0;
    margin-top: 30px;
}

/* Stile per contenitore del form */
.edit-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: none; /* Nascondi il form inizialmente */
}

/* Stile per i campi del form */
.edit-form-container input[type="text"],
.edit-form-container input[type="password"],
.edit-form-container input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Stile per il pulsante di invio */
.edit-form-container input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

/* Stile per il pulsante quando viene premuto */
.edit-form-container input[type="submit"]:hover {
    background-color: #45a049;
}

.footer {
    background-color: #171D25; /* Colore di sfondo scuro */
    color: #c5c3c0; /* Colore del testo */
    padding: 20px 0;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer-section {
    flex: 1; /* Rende le sezioni del footer di dimensioni uguali */
    margin: 0 15px; /* Spaziatura tra le sezioni */
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
    border-bottom: 1px solid #c5c3c0; /* Sottolinea i titoli delle sezioni */
    padding-bottom: 5px;
}

.footer-section p {
    margin: 5px 0;
}

.footer-section a {
    color: #c5c3c0;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline; /* Effetto hover per i link */
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #c5c3c0; /* Linea superiore per separare il footer */
    padding-top: 10px;
}

.footer-bottom p {
    margin: 5px 0;
}

/* Stile di base per il menu */
.menu {
  position: relative;
  display: flex;
  gap: 20px;
  align-items: center;
}

.menu a {
  color: #c7d5e0;
  text-decoration: none;
  padding: 10px;
  position: relative;
  transition: color 0.3s ease;
}

.menu a:hover {
  color: #66c0f4;
}

/* Stile per il dropdown */
.dropdown {
  display: none; /* Nascondi il menu dropdown per default */
  position: absolute;
  top: 100%; /* Allinea il dropdown sotto il link "Generi" */
  left: 0;
  background-color: #171A21;
  padding: 10px;
  border-radius: 5px;
  z-index: 100;
}

.dropdown ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dropdown li {
  margin: 5px 0;
}

.dropdown-option {
  color: #c7d5e0;
  text-decoration: none;
  display: block;
  padding: 8px;
  background-color: #171a21;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.dropdown-option:hover {
  background-color: #66c0f4;
  color: white;
}

/* Mostra il menu dropdown al passaggio del mouse sul link "Generi" */
.generi-link:hover + .dropdown,
.dropdown:hover {
  display: block;
}

.game-details {
    max-width: 800px; /* Limita la larghezza massima del contenitore */
    margin: 20px auto; /* Centra il contenitore nella pagina */
    padding: 20px; /* Aggiunge spazio interno */
    background-color: #1c1c1c; /* Colore di sfondo scuro */
    border-radius: 10px; /* Angoli arrotondati */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Ombra forte */
    color: #ffffff; /* Colore del testo chiaro */

}

.game-details h1 {
    font-size: 2.0em; /* Dimensione del font per il titolo principale */
    margin-bottom: 15px; /* Spazio sotto il titolo */
    color: #4B89B7; /* Colore giallo per il titolo */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8); /* Ombra sul testo */
}

.game-details p {
    font-size: 1.1em; /* Dimensione del font per i paragrafi */
    margin: 8px 0; /* Spazio verticale tra i paragrafi */
    color: #e0e0e0; /* Colore del testo chiaro */
}

.user-reviews {
    margin-top: 20px; /* Spazio sopra la sezione delle recensioni */
    padding: 15px; /* Spazio interno per la sezione delle recensioni */
    background-color: #282828; /* Colore di sfondo scuro per la sezione recensioni */
    border: 1px solid #444; /* Bordo grigio scuro */
    border-radius: 8px; /* Angoli arrotondati */
}

.user-reviews h2 {
    font-size: 1.8em; /* Dimensione del font per il titolo delle recensioni */
    margin-bottom: 10px; /* Spazio sotto il titolo delle recensioni */
    color: #4B89B7; /* Colore giallo per il titolo */
}

.recensione {
    padding: 10px; /* Spazio interno per ogni recensione */
    border-bottom: 1px solid #444; /* Bordo inferiore grigio scuro */
    transition: background-color 0.3s; /* Transizione per il colore di sfondo */
}

.recensione:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Colore di sfondo al passaggio del mouse */
}

.recensione:last-child {
    border-bottom: none; /* Rimuove il bordo per l'ultima recensione */
}

.recensione h3 {
    font-size: 1.3em; /* Dimensione del font per il nome dell'utente */
    color: #4B89B7; /* Colore giallo per il nome dell'utente */
    margin-bottom: 5px; /* Spazio sotto il nome dell'utente */
}

.recensione p {
    margin: 5px 0; /* Spazio verticale tra i paragrafi delle recensioni */
    color: #cccccc; /* Colore del testo per il contenuto delle recensioni */
}

.recensione p:last-child {
    font-weight: bold; /* Valutazione in grassetto */
    color: green; /* Colore arancione per la valutazione */
}

.review-form {
    background-color: #1c1c1c; /* Sfondo scuro simile a Steam */
    border-radius: 10px; /* Angoli arrotondati */
    padding: 20px;
    max-width: 400px; /* Larghezza massima del form */
    margin: 20px auto; /* Centra il form */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* Ombra per profondità */
    color: #ffffff; /* Testo bianco */
    display: none;
}

.review-form h2 {
    margin-bottom: 10px;
    font-size: 24px; /* Dimensione del titolo */
    text-align: center; /* Allineamento del titolo al centro */
}

.review-form label {
    display: block; /* Fa sì che il label occupi l'intera larghezza */
    margin-bottom: 5px; /* Spaziatura inferiore */
}

.review-form select {
    width: 100%; /* Larghezza totale del select */
    padding: 10px;
    border: none; /* Rimuove il bordo */
    border-radius: 5px; /* Angoli arrotondati */
    background-color: #444; /* Sfondo simile a Steam */
    color: #fff; /* Testo bianco */
    margin-bottom: 15px; /* Spaziatura inferiore */
}

.review-form textarea {
    width: 100%; /* Larghezza totale del textarea */
    height: 100px; /* Altezza del textarea */
    padding: 10px;
    border: none; /* Rimuove il bordo */
    border-radius: 5px; /* Angoli arrotondati */
    margin-bottom: 15px; /* Spaziatura inferiore */
    resize: none; /* Disabilita il ridimensionamento */
    background-color: #333; /* Sfondo del textarea */
    color: #fff; /* Testo bianco */
}

.review-form textarea::placeholder {
    color: #bbb; /* Colore del testo del segnaposto */
}






/* Layout responsivo */
@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    align-items: flex-start;
  }

  .dropdown {
    top: auto;
    left: auto;
    position: static;
  }
}



/* Responsività */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 15px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu a {
        margin-bottom: 10px;
    }

    .content {
        padding: 10px;
    }

    .game {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .game {
        margin: 10px 0;
    }

    .product__image {
        max-width: 200px;
    }

    .navbar {
        padding: 10px;
    }

    .menu a {
        font-size: 14px;
    }
}
