body {
    font-family: Arial, sans-serif;
    background-color: #171D25;
    background-image: url("risorse-media/img_homepage/Steam-2.jpeg");
    background-size: cover; 
    background-position: center; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    height: 100vh;
    margin: 0; 
}

.container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    width: 100%; 
}

#logo {
    position: absolute;
    top: 20px; 
    left: 20px; 
}

h2 {
    text-align: center;
    color: #C5C3C0;
    margin-bottom: 20px;
    position: relative; 
}

h1 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.form {
    background-color: #181A21;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    padding: 20px;
    margin: 20px auto; 
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.cont {
    margin-bottom: 15px;
    text-align: center;
}

label {
    font-weight: bold; 
    display: block;
    margin-bottom: 5px;
    color: #1899FF;
}

input[type="email"],
input[type="password"] {
    width: 90%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

input[type="email"]:focus,
input[type="password"]:focus {
    font-weight: bold; 
    border-color: #007bff;
    outline: none;
}

.cont-2 {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.cont-2 input {
    margin-right: 5px;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; 
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

#link-registrazione {
    text-align: center;
    margin-top: 10px;
}

#ancora-registrazione {
    color: #007bff;
    text-decoration: none;
}

#ancora-registrazione:hover {
    text-decoration: underline;
}

#crea_account {
	
    margin-top: 20px; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px; 
    background-color: #181A21; 
    border-radius: 8px; 
    text-align: center; 
    color: #495057;
    list-style-type: none;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

#crea_account p {
    margin: 0;
    color: white;
    
}

#crea_account button {
    background-color: #007bff; 
    color: white;
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

#crea_account button:hover {
    background-color: #0056b3;
}

#crea_account button:focus {
    outline: 2px solid #0056b3; 
}

#crea_account footer {
    width: 100%;
    height: 100%;
    margin-top: 15px; 
    color: white; 
    font-size: 14px; 
}




#crea_account footer a {
    color: #007bff; /* Colore dei link */
    text-decoration: none; /* Nessuna sottolineatura */
}

#crea_account footer a:hover {
    text-decoration: underline; /* Sottolineatura al passaggio del mouse */
}




