@charset "UTF-8";

body{
	background-color: rgb(26, 43, 61);
}

h1{
	text-align: center;
	font-family: "Times-New-Roman";
}

.form{
	display: flex; 
	justify-content: center; 
	align-items: center; 
	flex-direction: column;
}

.cont{
	padding: 10px;
}

.cont-2{
	margin-bottom: 20px
}

#link-registrazione{
	margin-top: 20px; 
	text-align: center;
}

#ancora-registrazione{
	color: black;
}