@charset "UTF-8";

body{
    background-color: #1b2838;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.colore{
	background-color: #171D25;
}

.img-icon{
    width: 4vw;
    height: auto;
    border-radius: 33px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #1b2838; 
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testo{
	color: #4B89B7;
}

.container-2{
	width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #1b2838;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}

.recensione {
    padding: 10px; 
    border-bottom: 1px solid #444; 
    transition: background-color 0.3s;
}

.recensione:hover {
    background-color: rgba(255, 255, 255, 0.1); 
}

.recensione:last-child {
    border-bottom: none; 
}

.recensione h3 {
    font-size: 1.3em;
    color: #4B89B7; 
    margin-bottom: 5px; 
}

.recensione p {
    margin: 5px 0; 
    color: #cccccc; 
}

.recensione p:last-child {
    font-weight: bold;
    color: green; 
}








footer {
  background-color: #171D25;
  color: #b8b8b8;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-about {
  flex: 1 1 100%;
  margin-bottom: 20px;
  text-align: center;
}

.footer-about h2 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 10px;
}

.footer-about p {
  color: #b8b8b8;
  font-size: 16px;
}

.footer-links, .footer-social, .footer-legal {
  flex: 1 1 200px;
  margin-bottom: 20px;
}

.footer-column h3, .footer-legal h3 {
  color: #fff;
  margin-bottom: 10px;
  font-size: 18px;
}

.footer-links ul, .footer-legal ul {
  list-style-type: none;
  padding: 0;
}

.footer-links li, .footer-legal li {
  margin-bottom: 8px;
}

.footer-links a, .footer-legal a {
  color: #b8b8b8;
  text-decoration: none;
}

.footer-links a:hover, .footer-legal a:hover {
  color: #fff;
}

.footer-social .social-icons a {
  width: 5%;
  display: block;
}

.social-icons{
	display: flex;
	justify-content: center;
}

.footer-social .social-icons svg {
  width: 20px;
  height: 20px;
}

.footer-copyright {
  flex: 1 1 100%;
  text-align: center;
  font-size: 14px;
  color: #666;
  margin-top: 20px;
}

.footer-copyright p {
  margin: 0;
}
